<header class="mx-4 py-4">
    <nav class="flex justify-between">
        <a href="/" class="font-bold text-2xl text-gray-700">Echos</a>
        <ul class="flex gap-4">
            <li>
                <a href="{{ path('app_book_index') }}">Home</a>
            </li>
            <li>
                <a href="{{ path('app_author_book_index') }}">Books</a>
            </li>
            <li>
                <a href="{{ path('app_user_history') }}">History</a>
            </li>
            <li>
                <a href="{{ path('app_security_logout') }}">Logout</a>
            </li>
        </ul>
    </nav>
</header>