{% extends 'base.html.twig' %}

{% block body %}
    {% for chapter in chapters %}
        <article>
            <a href="{{ path('app_book_read', {book_uuid: book.uuid, chapter_uuid: chapter.uuid}) }}">
                {{ chapter.title }}
            </a>
        </article>
    {% endfor %}
{% endblock %}