{% extends 'base.html.twig' %}

{% block body %}
    {% for chapter in chapters %}
        <a href="{{ path('app_book_read', {book_uuid: book.uuid, chapter_uuid: chapter.uuid}) }}">{{ chapter.title }}</a>
    {% endfor %}
{% endblock %}