{% extends 'base.html.twig' %}

{% block body %}
    <div class="container max-w-screen-lg mx-auto">
        {% include 'partial/book/_form.html.twig' with {book_form, btn_label: 'Create'} only %}
    </div>
{% endblock %}