<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Echos{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="module" src="http://localhost:3000/@vite/client"></script>
        <script rel="preload" type="module" src="http://localhost:3000/assets/main.js" defer></script>
    </head>
    <body>
        {% if app.user %}
            {% include 'partial/header/_login.html.twig' %}
        {% else %}
            {% include 'partial/header/_default.html.twig' %}
        {% endif %}

        {% for content in app.flashes('success') %}
            {% include 'partial/_flash.html.twig' with {content} only %}
        {% endfor %}

        <main>
            {% block body %}{% endblock %}
        </main>

        {% include 'partial/_footer.html.twig' %}
    </body>
</html>
