<div class="flex items-end flex-col mr-4">
    <div class="p-4 flex items-start bg-white drop-shadow-lg rounded">
        <div class="shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="text-green-400 w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
        </div>
        <div class="flex-1 ml-3 text-sm">
            <p class="font-medium">Success !</p>
            <p class="text-gray-500">{{ content }}</p>
        </div>
    </div>
</div>