{% extends 'base.html.twig' %}

{% block body %}
    <div class="container max-w-screen-lg mx-auto">
        {% include 'partial/tag/_form.html.twig' with {tag_form, btn_label: 'Create'} only%}
    </div>
{% endblock %}